 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
    --ff-heading: 'Staatliches', sans-serif;
    --ff-texting: 'Palanquin', sans-serif;

    --hue: 250;
    --bg-header: hsl(var(--hue), 17%, 62%);
    --bg-h1: hsl(var(--hue), 18%, 79%);
    --bg-main: hsl(var(--hue), 100%, 97%);

    font-size: 62.5%;
    --fs-body: 2rem;
    --fs-heading: 4rem;
 }
 
.page {
   width: 39rem;

   margin: 0 auto;
    
}

 header {
    font-family: var(--ff-heading);

    background-color: var(--bg-header);

    height: 27.9rem;

    display: flex;
    flex-direction: column; 
    
 }

 .logo {
    
    height: 13.7rem;

    margin: 3.2rem auto;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));

 }

  h1 {
    background-color: var(--bg-h1);

    font-size: var(--fs-heading);
    font-weight: 400; 

    height: 4.9rem;
    text-align: center;

    letter-spacing: 0.05em;

    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    margin-bottom: 2.9rem;
    
 }

 main {
    background-color: var(--bg-main);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    padding-bottom: 6rem;
    
 }

 p {
    font-family: var(--ff-texting);
    font-weight: 400;

    line-height: 15px;

    color: #23053A;

    text-align: center;

    margin: 1.2rem 4rem 5.5rem;
 }


  .card {
   position: relative;

   animation: topdown 700ms;
  
 }

 .card img {
   width: 32rem;
   
   object-fit: cover; 

   transition: all 200ms;

 }

 .card img:hover {
   transform: scale(1.1);
   opacity: 0.7;
 }

 .card h2 {
   position: absolute;
   top: 1.6rem;
   right: 1.6rem;

   font-family: var(--ff-heading);
   font-size: var(--fs-body);
   font-weight: 400;
   line-height: 34px;

   letter-spacing: 0.05em;
   
   text-transform: uppercase;

   background: #FEEAFA;
   border-radius: 20px;

   color: #4A4E69;

   width: 112px;
   height: 35px;

   padding: 0 2.4rem;

   display: inline-flex;
   align-items: center;
 }

 .card h2:hover {
   background: #f9cef0;
 }

 /* animações */

 h1, .logo{
   animation: downtop 700ms 350ms reverse backwards;
 }

 

 @keyframes topdown {
   0% {
      opacity: 0;
      transform: translateY(-15px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
 }

 @keyframes downtop {
   100% {
      opacity: 0;
      transform: translateY(15px);
   }
 }
 
   
   
